/* General styles */
* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(92, 189, 230);
    font-size: 16px;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
}

/* Form styles */
form {
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
}

.dynamic, #n, #btn, #randomBtn {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
}

#randomBtn, #btn {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    border: none;
}

#p2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    form {
        width: 100%;
    }

    .dynamic, #n, #btn, #randomBtn {
        font-size: 0.9rem;
        padding: 8px;
    }
}
